<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
  	<h4>Pending Request:</h4>
  	 <ul class="posts">
      <% @pending.each do |invitee|%>
        <li><%= invitee.name %> </li>
      <% end %>
    </ul>
	</article>
    <article class="timeline">
    <h3>Requested Invitations:</h3>
    <ul class="posts">
      <% @requests.each do |invitee|%>
          <li><%= invitee.name %> <%= link_to('Accept', invite_path(user_id: invitee.id), method: :put) %></li>
          <li><%= link_to('Reject', reject_path(user_id: invitee.id), method: :delete) %></li>
      <% end %>
    </ul>
  </article>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
